@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900');

:root {
    --color-white: #ffffff;
    --color-darkblue: #1b1b32;
    --color-grey: #f3f4f5;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
    --color-button: #74b048;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;

  }
  
  h1 {
    font-weight: 400;
    line-height: 1.2;
  }
  
  p {
    font-size: 1.125rem;
  }
  
  h1,
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button {
    border: none;
  }
  
  .container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  .header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  }
  
  .description {
    font-style: italic;
    font-weight: 200;
  }
  
  .clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
  }
  
  .text-center {
    text-align: center;
  }